body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
.nav{
    display: inline-block;
    position: relative;
    top: 500px;
    margin-left: 2%;
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
}
#free{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
.title{
    color: honeydew;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 150%;
    margin: 2%;
    background-color: orangered;
    padding: 12px;
    border-radius: 100%;
    z-index: 1;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 50%;
    position: absolute;
    top: 13%;
    margin-left: 2%;
}
#exc{
    font-size: 250px;
    font-family: "noto sans mono";
    position: absolute;
    left: 63%;
    animation: exc 2s infinite;
}
@keyframes exc {
    0% {left: 63%; top: 20%; color: olive;}
    10% {left: 68%; top: 17%; color: orangered;}
    20% {left: 58%; top: 21%; color: olive;}
    30% {left: 60%; top: 8%; color: olive;}
    40% {left: 57%; top: 50%;color: orangered;}
    50% {left: 63%; top: 20%;color: olive;}
    60% {left: 68%; top: 15%;color: orangered;}
    70% {left: 67%; top: 65%;color: orangered;}
    80% {left: 58%; top: 21%;color: olive;}
    90% {left: 68%; top: 5%; color: olive;}
    100% {left: 63%; top: 20%;color: orangered;}
}
@media screen and (max-width: 500px) {
    .title{
        font-size: 120%;
    }
    .text{
        width: 90%;
        position: relative;
        top: 80px;
        margin-left: 2%;
    }
    .nav{
        font-size: 90%;
        top: 350px;
        margin-left: 2%;
        padding-bottom: 40px;
    }
    #exc{
        font-size: 100px;
        font-family: "noto sans mono";
        position: absolute;
        left: 25%;
        animation: exc 2s infinite;
    }
    @keyframes exc {
        0% {left: 25%; top: 85%; color: olive;}
        10% {left: 15%; top: 90%; color: orangered;}
        20% {left: 40%; top: 100%; color: olive;}
        30% {left: 20%; top: 113%; color: olive;}
        40% {left: 45%; top: 89%;color: orangered;}
        50% {left: 12%; top: 100%;color: olive;}
        60% {left: 35%; top: 91%;color: orangered;}
        70% {left: 25%; top: 80%;color: orangered;}
        80% {left: 10%; top: 105%;color: olive;}
        90% {left: 40%; top: 95%; color: olive;}
        100% {left: 20%; top: 83%;color: orangered;}
    }
}
