body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
    position: relative;
    top: 1050px;
    left: -5%;
}
#free{
    display: block;
    position: relative;
    top: 1050px;
    left: -5%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
h1{
    color: darkgreen;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    margin-left: 2%;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 40%;
    position: absolute;
    top: 10%;
    margin-left: 2%;
}
#comma{
    animation: comma 4s 2s 1 forwards;
}
@keyframes comma {
    0% {font-size: 110%; color: olive;}
    100% {font-size: 400%; color: orangered;}
}
@media screen and (max-width: 500px) {
    h1{
        font-size: 120%;
        width: 50%;
    }
    .text{
        width: 90%;
        position: absolute;
        top: 10%;
        margin-left: 2%;
    }
    a{
        position: relative;
        top: 1200px;
        left: -20%;
        font-size: 80%;
    }
    #free{
        position: relative;
        top: 1200px;
        left: -20%;
    }
    .animation-text{
        font-size: 450%;
        left: 8%;
        top: 70%;
        position: absolute;
    }
}

