body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
.nav{
    display: inline-block;
    position: relative;
    top: 1100px;
    margin-left: 2%;
    padding-bottom: 80px;
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
}
#free{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
.title{
    color: honeydew;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 150%;
    margin: 2%;
    background-color: orangered;
    padding: 12px;
    border-radius: 100%;
    z-index: 1;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 40%;
    position: absolute;
    top: 14%;
    margin-left: 2%;
}
#comma{
    animation: comma 4s 1.5s 1 forwards;
}
@keyframes comma {
    0% {font-size: 110%; color: olive;}
    100% {font-size: 400%; color: orangered;}
}
@media screen and (max-width: 400px) {
    .title{
        font-size: 120%;
    }
    .text{
        width: 90%;
        position: relative;
        top: 80px;
        margin-left: 2%;
    }
    .nav{
        font-size: 60%;
        top: 100px;
        margin-left: 2%;
        padding-bottom: 40px;
    }
    .animation-text{
        font-size: 450%;
        left: 8%;
        top: 70%;
        position: absolute;
    }
}

