
:root{
  --orange: #d9481b;
  --yellow: #f2bd42;
  --blue: rgb(77, 77, 224);
  --fontsm: 23px;
  --fontlg: 30px;
}
.left::-webkit-scrollbar{
  width: 10px;
  padding: 10px;
}
.left::-webkit-scrollbar-track{
  background: var(--yellow);
}
.left::-webkit-scrollbar-thumb{
  background: var(--blue);
  border-radius: 20px;
  margin: 10px;
}
.right::-webkit-scrollbar{
  width: 10px;
  padding: 10px;
}
.right::-webkit-scrollbar-track{
  background: var(--yellow);
}
.right::-webkit-scrollbar-thumb{
  background: var(--blue);
  border-radius: 20px;
  margin: 10px;
}
body {
  width: 100vw;
  background-color: oldlace;
  font-family: darker-grotesque, sans-serif;
  color: var(--orange);
  font-weight: 600;
}
table {
  border-collapse: collapse;
  width: 100%;
}
.wstitle{
  font-size: var(--fontsm);
  text-align: center;
  position: relative;
  top: -20%;
}
td, th {
  border: 1px solid var(--orange);
  text-align: left;
  padding: 8px;
}

.split{
  height: 100%;
  padding-top: 20px;
  position: fixed;
  z-index: 1000;
  top: 0;
}
.left{
  overflow-y: scroll;
  overflow-x: hidden;
  left: 0;
  width: 60%;
  
}
.right{
  overflow-y: scroll;
  overflow-x: hidden;
  right: 0;
  width: 40%;

}
.title{
  font-size: var(--fontlg);
  text-align: center;
  position: relative;
  top: -4%;
}
.watches {
  margin-top: 10%;
  margin-left: 5%;
  position: relative;
  top: -150px;
  left: 10%;
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: 250px 250px 250px;
}
/* .box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 250px;
  height: 250px;
} */
.title-png{
  max-width: 70%;
  position: relative;
  margin-right: 2%;
}
.info{
  padding-bottom:70px;
  font-weight: 600;
  width: 80%;
  margin-left: 10%;
  font-size: 18px;
}
img:hover{
  cursor: pointer;
  filter: drop-shadow(5px 5px 0px var(--orange));
  transition: ease 0.2s;
}
img{
    max-width: 18%;
    z-index: 500;
    padding: 10px;
    margin: 1%;
}
.one{
    grid-column: 2;
    grid-row: 2;
    position: relative;
    max-width: 30%; 
    top: 10%;
    z-index: 700;     
}
.two{
  position: relative;
    grid-column: 2;
    grid-row: 1;
    max-width: 23%;
    top: 15%;
}
.three{
  position: relative;
    grid-column: 3;
    grid-row: 1;
    rotate: 45deg;
    top: 30%;
    left: -25%;
}
.four{
  position: relative;
    grid-column: 1;
    grid-row: 2;
    rotate: 90deg;
    top: -20%;
}
.five{
  position: relative;
    grid-column: 1;
    grid-row: 1;
    rotate: -45deg;
    top: 20%;
    left: 25%;
}
.six{
  position: relative;
    grid-column: 3;
    grid-row: 2;
    rotate: 90deg;
    max-width: 20%;
    left: 0;
}
.seven{
  position: relative;
    grid-column: 1;
    grid-row: 3;
    rotate: 45deg;
    top: -50%;
    left: 40%
}
.eight{
  position: relative;
    grid-column: 2;
    grid-row: 3;
    width: 70%;
    top: -40% ;
}
.nine{
  position: relative;
    grid-column: 3;
    grid-row: 3;
    rotate: -45deg;
    top: -60%;
    left: -30%;
}
.grid2{
  display: grid;
  grid-template-rows: auto 150px 250px;
  grid-template-columns:500px;
  position: relative;
  gap: 15px;
  margin-left: 7%;
  padding-bottom: 70px;
}
.text{
  font-size: var(--fontsm);
  font-weight: 600;
  color: var(--orange);
  height: 300px;
  padding: 15px;
  z-index: -100;
  overflow:hidden;
  grid-row: 1;

}

#datasub{
  font-size: var(--fontsm);
  color: var(--orange);
  z-index: 200;
  margin-left: 5%;
}
.text2{
  grid-row: 3;
 
}
.wrap {
  overflow: hidden;
  grid-column: 2;
  grid-row: 2;
  position: relative;
  left: -30%;
  top: -20%;
  width: auto;
  height: auto;
  border-radius: 100%;
}

.minute,
.hour {
  position: absolute;
  height: 100px;
  width: 6px;
  margin: auto;
  top: -27%;
  left: 0;
  bottom: 0;
  right: 0;
  background: var(--orange);
  transform-origin: bottom center;
  transform: rotate(0deg);
  z-index: 600;
  border-radius: 4px;
}

.minute {
  position: absolute;
  height: 130px;
  width: 4px;
  top: -38%;
  left: 0;
  transform: rotate(90deg);
}

.second {
  position: absolute;
  height: 90px;
  width: 2px;
  margin: auto;
  top: -26%;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 4px;
  background:var(--blue);
  transform-origin: bottom center;
  transform: rotate(180deg);
  z-index: 1;
}

.slideshow {
  margin: auto; 
  display: flex;
  align-items: center; 
  justify-content: center;
  max-width: 100%;  
}
.mySlides {
  max-width: 30%;
  align-items: flex-start;
  height: auto;
  display: none;
  grid-row: 2;
  position: relative;
  top: -20px;
}
.mySlides:hover{
  filter: drop-shadow(0px 0px 0px var(--orange));
  cursor: default;
}
.prev, .next {
  grid-row: 2;
  cursor: pointer;
  position: absolute;
  top: 10%;
  width: auto;
	height: auto;
	border-top: 25px solid transparent;
	border-bottom: 25px solid transparent;
}
.prev{
  left: 0%;
  border-right: 80px solid var(--blue);
}
.next {
  left: 75%;
  border-left: 80px solid var(--blue);
}

.prev:hover{
  border-right: 80px solid var(--yellow);

}
.next:hover {
  cursor: pointer;
  border-left: 80px solid var(--yellow);
}

.straps{
  max-width: 90px;
  align-items: flex-start;
  rotate: 90deg;
}
.ssmall{
  max-width: 60px;
  position: relative;
  top: -70px;
}
.s2small{
  max-width: 90px;
  position: relative;
  top: -70px;
}

.data2{
  
  width: 60%;
  height: 120px;
  margin-right: 2%;
  padding: 15px;
  overflow: hidden;
}



@media screen and (max-width: 700px) {
  body{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 0;
  }
  body::-webkit-scrollbar{
    width: 10px;
    padding: 10px;
  }
  body::-webkit-scrollbar-track{
    background: var(--yellow);
  }
  body::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 20px;
    margin: 10px;
  }
  .watches{
    position: relative;
    margin-left: 0;
    left: 0%;
    top: -20%;
    z-index: 500;
  }
  .title{
  font-size: 15px;
  margin-top: 0%;
  }
  .split{
    position: relative;
    height: auto;
    scrollbar-color: var(--blue) var(--orange);
  }
  .left{
    left: 0;
    height: 850px;
    width: 100%;
    overflow-y: hidden;
    scrollbar-color: var(--blue) var(--orange);
    bottom: 0;
  }
  .right{
    height: auto;
    z-index: 1000;
    right: 0;
    top: 15%;
    width: 100%;
    overflow-y: hidden;
    scrollbar-color: var(--blue) var(--orange);
    bottom: 0;
    height: 600px;
  }
  .grid2{
    position: relative;
    top: -30px;
  }
  img{
    max-width: 12%;
    z-index: 500;
    padding: 10px;
    margin: 1%;
  }
  .one{
    position: relative;
    left: -10%;
    top: 20%;
    max-width: 25%;
    z-index: 700;
  }
  .two{
    grid-column: 2;
    grid-row: 1;
    top: 30%;
    max-width: 20%;
    left: -5%;
  } 
  .three{
    grid-column: 3;
    grid-row: 1;
    rotate: 45deg;
    max-width: 15%;
    top: 50%;
    left: -50%;
  }
  .four{
    grid-column: 1;
    grid-row: 2;
    max-width: 15%;
    rotate: 90deg;
    left: 35%;
    top: -10%;
  }
  .five{
    grid-column: 1;
    grid-row: 1;
    rotate: -45deg;
    max-width: 15%;
    top: 35%;
    left: 45%;
  }
  .six{
    grid-column: 3;
    grid-row: 2;
    rotate: 90deg;
    max-width: 20%;
    left: -45%;
    top: 5%;
  }
  .seven{
    grid-column: 1;
    grid-row: 3;
    rotate: 45deg;
    top: -60%;
    left: 50%;
    max-width: 20%;
  }
  .eight{
    grid-column: 2;
    grid-row: 3;
    max-width: 14%;
    left: -5%;
    top: -40%;
  }
  .nine{
    grid-column: 3;
    grid-row: 3;
    rotate: -45deg;
    max-width: 20%;
    top: -60%;
    left: -40%;
  }
  .info{
    position: relative;
    top: -170px;
    margin-left: 5%;
  }
  .wrap{
    left: -45%;
    z-index: 600;
  }
}



@media screen and (max-width: 400px) {
  body{
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 0;
  }
  body::-webkit-scrollbar{
    width: 10px;
    padding: 10px;
  }
  body::-webkit-scrollbar-track{
    background: var(--yellow);
  }
  body::-webkit-scrollbar-thumb{
    background: var(--blue);
    border-radius: 20px;
    margin: 10px;
  }
  .watches{
    position: relative;
    margin-left: 0;
    left: -20%;
    top: -20%;
    margin-bottom: 5%;
  }
  .title{
  font-size: 15px;
  margin-top: 0%;
  left: -5%;
  }
  .split{
    position: relative;
    scrollbar-color: var(--blue) var(--orange);
  }
  .left{
    left: 0;
    height: 600px;
    width: 100%;
    overflow-y: hidden;
    scrollbar-color: var(--blue) var(--orange);
    bottom: 0;
  }
  .right{
    padding-top: 20px;
    height: 500px;
    z-index: 1000;
    right: 5%;
    width: 100%;
    overflow-y: hidden;
    scrollbar-color: var(--blue) var(--orange);
    bottom: 0;
  }
  .grid2{
    position: relative;
    top: -100px;
    gap: 5px;
    height: auto;
  }
  img{
    max-width: 10%;
    width: auto;
    z-index: 500;
    padding: 1px;
    margin: 5%;
  }
  .one{
    position: relative;
    left: -2%;
    top: -2%;
    max-width: 15%;
  }
  .two{
    grid-column: 2;
    grid-row: 1;
    top: 30%;
    max-width: 15%;
    left: -5%;
  } 
  .three{
    grid-column: 3;
    grid-row: 1;
    rotate: 45deg;
    max-width: 12%;
    top: 40%;
    left: -60%;
  }
  .four{
    grid-column: 1;
    grid-row: 2;
    rotate: 90deg;
    max-width: 10%;
    left: 60%;
    top: -25%;
  }
  .five{
    grid-column: 1;
    grid-row: 1;
    rotate: -45deg;
    max-width: 10%;
    top: 40%;
    left: 60%;
  }
  .six{
    grid-column: 3;
    grid-row: 2;
    rotate: 90deg;
    max-width: 15%;
    left: -65%;
    top: -20%;
  }
  .seven{
    grid-column: 1;
    grid-row: 3;
    rotate: 45deg;
    top: -90%;
    left: 70%;
    max-width: 12%;
  }
  .eight{
    grid-column: 2;
    grid-row: 3;
    max-width: 7%;
    left: 0%;
    top: -80%;
  }
  .nine{
    grid-column: 3;
    grid-row: 3;
    rotate: -45deg;
    max-width: 10%;
    top: -90%;
    left: -65%;
  }
  .info{
    position: relative;
    top: -400px;
    font-size: 12px;
    margin-left: 5%;
  }
  .wrap {
    position: relative;
    top: -30%;
    left: -25%;
    width: 170px;
    height: 170px;
  }
.hour {
  top: 7px;
  height: 50px;
  width: 6px;
  border-radius: 4px;
}

.minute {
  top: 0px;
  height: 60px;
  width: 4px;
}

.second {
  top: 7px;
  height: 50px;
  width: 2px;
}
td, th {
  font-size: 15px;
}
table{
  width: 60%;
}
.wstitle{
  position: relative;
  left: -15%;
  margin-right: 5%;
}

.slideshow {
  max-width: 90%;  
}
.mySlides {
  top: -20px;
  left: -20%;
}
.prev, .next {
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
}
.prev{
  border-right: 50px solid var(--blue);
}
.next {
  border-left: 50px solid var(--blue);
}

.prev:hover{
  border-right: 50px solid var(--yellow);

}
.next:hover {
  border-left: 50px solid var(--yellow);
}
.straps{
  max-width: 50px;
}
.ssmall{
  max-width: 50px;
  top: -80px;
}
.s2small{
  max-width: 70px;
  top: -80px;
}
}
