body{
    background-color: ivory;
    font-family: 'Courier New', Courier, monospace;
}
.container{
    display: grid;
    grid-template-rows: repeat(1, 1fr);
    grid-template-columns: repeat(6, 1fr);
}
header{
    color: navy;
    margin: 1%;
}
h1{
    grid-column: 1 / 6;
}
h5{
    grid-column: 6/6;
}
img{
    max-width: 300px;
}
.flex{
    display: flex;
    justify-content: space-between;
    margin: 1%;
    flex-wrap: wrap;
}
p{
    text-align: center;
    position: relative;
    top: -5%;
    font-weight: 500;
    font-size: 110%;
    background-color: navy;
    color: ivory;
    width: auto;
    opacity: 100;
}
.fixed{
    position: fixed;
    left: 45%;
    top: 5%;
    background-color: navy;
    color: ivory;
    padding: 2px;
    z-index: inherit;
}