body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
.nav{
    display: inline-block;
    position: relative;
    top: 870px;
    margin-left: 2%;
    padding-bottom: 80px;
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
}
#free{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
.title{
    color: honeydew;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 170%;
    margin: 2%;
    background-color: orangered;
    padding: 10px;
    border-radius: 100%;
    z-index: 1;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 50%;
    position: absolute;
    top: 13%;
    margin-left: 2%;
}
@keyframes period1{
    to {left: 43%;}
    from {left: 73%;}
}
@keyframes period2{
    to {left: 27%;}
    from {left: 73%;}
}
@keyframes period3{
    to {left: 47.5%;}
    from {left: 73%;}
}
@keyframes period4{
    to {left: 30%;}
    from {left: 73%;}
}
#period1{
    animation: period1 3s 2s 1 forwards ;
    font-size: 150px;
    position: absolute;
    top: 19.8%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period2{
    animation: period2 3s 2s 1 forwards ;
    font-size: 150px;
    position: absolute;
    top: 32%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period3{
    animation: period3 3s 2s 1 forwards ;
    font-size: 150px;
    position: absolute;
    top: 42%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period4{
    animation: period4 3s 2s 1 forwards ;
    font-size: 150px;
    position: absolute;
    top: 51%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
@media screen and (max-width: 500px) {
    .title{
        font-size: 120%;
    }
    .text{
        width: 80%;
        position: relative;
        top: 80px;
        margin-left: 2%;
    }
    .nav{
        font-size: 90%;
        top: 100px;
        margin-left: 2%;
        padding-bottom: 40px;
    }
    #period1{
        top: 4.5%;
    }
    #period2{
        top: 32.8%;
    }
    #period3{
        top: 55%;
    }
    #period4{
        top: 80%;
    }
    @keyframes period1{
        to {left: 58.7%;}
        from {left: 73%;}
    }
    @keyframes period2{
        to {left: 64%;}
        from {left: 73%;}
    }
    @keyframes period3{
        to {left: 44%;}
        from {left: 73%;}
    }
    @keyframes period4{
        to {left: 33.7%;}
        from {left: 73%;}
    }
}
