body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
#title{
    color: darkgreen;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 150%
}
#text{
    font-family: "noto sans mono";
}
@keyframes period1{
    to {left: 43.5%;}
    from {left: 73%;}
}
@keyframes period2{
    to {left: 52%;}
    from {left: 73%;}
}
@keyframes period3{
    to {left: 32%;}
    from {left: 73%;}
}
@keyframes period4{
    to {left: 11%;}
    from {left: 73%;}
}
#period1{
    animation: period1 5s 2s infinite forwards ;
    font-size: 150px;
    position: absolute;
    top: 19.5%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period2{
    animation: period2 5s 2s infinite forwards ;
    font-size: 150px;
    position: absolute;
    top: 29%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period3{
    animation: period3 5s 2s infinite forwards ;
    font-size: 150px;
    position: absolute;
    top: 41%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}
#period4{
    animation: period4 5s 2s infinite forwards ;
    font-size: 150px;
    position: absolute;
    top: 51%;
    left: 73%;
    font-family: "noto sans mono";
    color: orangered;
    line-height: 50px;
}