body{
    font-family: prestige-elite-std, monospace; 
    letter-spacing: -1px;
    color: black;
    font-weight: 400;
    background-color: ivory;
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    padding-bottom: 10%;
}
body::-webkit-scrollbar{
    width: 8px;
    padding: 10px;
  }
  body::-webkit-scrollbar-track{
    background: ivory;
  }
  body::-webkit-scrollbar-thumb{
    background: orangered;
    border-radius: 20px;
    margin: 10px;
  }
header{
    text-align: center;
}
h1{
    font-weight: 400;
}
.districts{
    display: grid;
    grid-template-columns: 15% 15% 15% 10%;
    grid-template-rows: auto auto auto;
    position: relative;
    grid-row-gap: 5%;
    position: relative;
    margin-top: 3%;
    top: 20px;
    padding-bottom: 15%;
    left: 22%;
}
img{
    max-width: 55%;
} 
.one:hover, .two:hover, .three:hover, .four:hover, .five:hover, .six:hover, .seven:hover, .eight:hover, .nine:hover, .ten:hover, .eleven:hover, .twelve:hover{
    transition: ease-in-out 0.5s;
    cursor: pointer;
    margin-top: 5%;
}
.four, .five, .twelve{
    max-width: 48%;
}
.four:hover, .five:hover, .twelve:hover{
    transition: ease-in-out 0.5s;
}
.eight{
    max-width: 100%;
    top: 25%;
    z-index: 1000;
}
.eight:hover{
    transition: ease-in-out 0.5s;
}
.nine{
    top: 10%;
}
.eleven{
    z-index: 1000;
    left: -15%;
}
.eleven:hover{
    transition: ease 0.2s;
}
.pos{
    position: relative;
}
.blue, .blue2, .blue3, .blue4, .green, .green2, .lime, .orange, .yellow, .pink, .pink2, .lavender{
    display: none;
}
a{
    text-decoration: none;
}
.pink{
    position: relative;
    top: -5%;
}
.yellow{
    position: relative;
    top: 25%;
}
.orange{
    position: relative;
    top: 5%;
}

.one:hover + .blue{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.two:hover + .blue2{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.three:hover + .blue3{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.four:hover + .blue4{
    display: block;
    font-size: 12px;
    width: 130%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.five:hover + .green{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.six:hover + .green2{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.seven:hover + .lime{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.eight:hover + .yellow{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.nine:hover + .orange{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.ten:hover + .pink{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.eleven:hover + .pink2{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
.twelve:hover + .lavender{
    display: block;
    font-size: 12px;
    width: 85%;
    color: black;
    font-weight: 700;
    transition: ease-in-out 0.5s;
}
footer{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

@media screen and (max-width: 400px) {
    h1{
        font-size: 25px;
        margin: 5%;
    }
    img{
        max-width: 90%;
    }
    .four{
        max-width: 50%;
    }
    .five, .twelve{
        max-width: 60%;
    }
    .districts{
        width: 150%;
        display: grid;
        grid-template-columns: 15% 15% 15% 15%;
        grid-template-rows: auto auto auto;
        position: relative;
        grid-row-gap: 3%;
        position: relative;
        margin-top: 3%;
        top: 20px;
        padding-bottom: 15%;
        left: 11%;
    }
    .eight{
        max-width: 100%;
        left: -20%;
    }
    .eleven{
        max-width: 100%;
    }
    .six, .seven{
        max-width: 70%;
    }
    .one:hover + .blue{
       position: relative;
       width: 80%;
       font-size: 10px;
    }
    .two:hover + .blue2{
        position: relative;
        width: 80%;
       font-size: 10px;
    }
    .three:hover + .blue3{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .four:hover + .blue4{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .five:hover + .green{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .six:hover + .green2{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .seven:hover + .lime{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .eight:hover + .yellow{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .nine:hover + .orange{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .ten:hover + .pink{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    .eleven:hover + .pink2{
        position: relative;
       width: 80%;
       font-size: 10px;;
    }
    .twelve:hover + .lavender{
        position: relative;
       width: 80%;
       font-size: 10px;
    }
    footer{
        position: relative;
        top: 20%;
        padding-bottom: 0pxe;

    }
}