body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
.nav{
    display: inline-block;
    position: relative;
    top: 1000px;
    margin-left: 2%;
    padding-bottom: 80px;
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
}
#free{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
.title{
    color: honeydew;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 150%;
    margin: 2%;
    background-color: orangered;
    padding: 12px;
    border-radius: 100%;
    z-index: 1;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 50%;
    position: absolute;
    top: 13%;
    margin-left: 2%;
}
.colons{
    font-size: 400px;
    color: orangered;
    position: absolute;
    left: 62% ;
    top: 15%;
    animation: colons 1.5s 1s 1 forwards;
}
.colons2{
    font-size: 400px;
    color: orangered;
    position: absolute;
    left: 75% ;
    top: 15%;
    animation: colons2 1.5s 1.5s 1 forwards;
}
.period{
    font-size: 400px;
    color: orangered;
    position: absolute;
    left: 67% ;
    top: 15%;
    opacity: 0;
    animation: period 3s 1.7s 1 forwards;
}
.comma{
    font-size: 400px;
    color: orangered;
    position: absolute;
    left: 73% ;
    top: 15%;
    opacity: 0;
    animation: comma 3s 1.7s 1 forwards;
}
@keyframes colons{
    0% {rotate: -15deg;}
    50% {rotate: 360deg;}
    100% {rotate: 360deg; left: -10%;}
}
@keyframes colons2{
    0% {rotate: -15deg;}
    50% {rotate: -360deg;}
    100% {rotate: -360deg; left: 120%;}
}
@keyframes period{
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes comma {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@media screen and (max-width: 500px) {
    .title{
        font-size: 120%;
        position: fixed;
    }
    .text{
        width: 90%;
        position: relative;
        top: 150px;
        margin-left: 2%;
    }
    .nav{
        font-size: 90%;
        top: 190px;
        margin-left: 2%;
        padding-bottom: 40px;
    }
    .colons{
        font-size: 180px;
        color: orangered;
        position: absolute;
        left: 30% ;
        top: -10%;
        animation: colons 1.5s 1s 1 forwards;
    }
    .colons2{
        font-size: 180px;
        color: orangered;
        position: absolute;
        left: 40% ;
        top: -10%;
        animation: colons2 1.5s 1.5s 1 forwards;
    }
    .period{
        font-size: 180px;
        color: orangered;
        position: absolute;
        left: 30% ;
        top: -10%;
        opacity: 0;
        animation: period 3s 1.7s 1 forwards;
    }
    .comma{
        font-size: 180px;
        color: orangered;
        position: absolute;
        left: 40% ;
        top: -10%;
        opacity: 0;
        animation: comma 3s 1.7s 1 forwards;
    }
    @keyframes colons{
        0% {rotate: -15deg;}
        50% {rotate: 360deg;}
        100% {rotate: 360deg; left: -50%;}
    }
    @keyframes colons2{
        0% {rotate: -15deg;}
        50% {rotate: -360deg;}
        100% {rotate: -360deg; left: 110%;opacity: 0;}
    }
    @keyframes period{
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
    @keyframes comma {
        0% {opacity: 0;}
        100% {opacity: 1;}
    }
}
