body{
    background-color: honeydew;
    color: olive;
    font-size: 110%;
    font-family: "noto sans mono";
}
.nav{
    display: inline-block;
    position: relative;
    top: 450px;
    margin-left: 2%;
}
a{
    color: honeydew;
    background-color: olive;
    text-decoration: none;
    padding: 5px;
    border-radius: 5px;
    font-family: "noto sans mono";
    display: inline;
}
#free{
    display: block;
    margin-bottom: 1%;
    margin-top: 1%;
}
a:hover{
    color: olive;
    border: 1px solid olive;
    background-color: honeydew;
}
.title{
    color: darkgreen;
    display: block;
    position: fixed;
    font-family: "noto sans mono";
    font-style: italic;
    font-size: 170%;
    display: inline-block;
    margin: 2%;
    left: 22%;
    top: 2%;
}
#title1{
    color: honeydew;
    display: inline-block;
    font-size: 170%;
    background-color: orangered;
    padding: 20px;
    border-radius: 100%;
    z-index: 1;
    top: 4%;
    margin-left: 2%;
    position: fixed;
}
.text{
    font-family: "noto sans mono";
    text-align: left;
    width: 40%;
    position: absolute;
    top: 15%;
    margin-left: 2%;
}
.animation-text{
    display: inline-block;
    font-size: 600%;
    color: darkgreen;
    left: 55%;
    top: 20%;
    position: absolute;
}
.ani-1{
    animation: ani-1 1s infinite;
}
.ani-2{
    animation: ani-2 1s infinite;
}
@keyframes ani-1{
    0% {color: olive; font-style: italic;}
    50% {color: orangered; font-style: normal;font-weight: 800;}
    100% {color: olive; font-style: italic;}
}
@keyframes ani-2{
    0% {color: orangered; font-weight: 800;}
    50% {color: olive; font-weight: 400; font-style: italic;}
    100% {color: orangered;font-weight: 800;}
}
@media screen and (max-width: 400px) {
    .title{
        font-size: 100%;
        top: 10%;
        left: 18%;
        position: relative;
    }
    #title1{
        font-size: 150%;
        position: relative;
        left: 10%;
    }
    .text{
        font-size: 80%;
        width: 65%;
        top: 18%;
        left: 10%;
        width: 80%;
    }
    .nav{
        font-size: 80%;
        top: 350px;
        margin-left: 2%;
        padding-bottom: 5px;
    }
    .animation-text{
        font-size: 300%;
        left: 15%;
        top: 45%;
    }
}
